/* Universal style */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

.bg-header-desktop {
  display: none;
}

/* Main style */
main {
  width: 100vw;
}

.bg-header-mobile {
  width: 100%;
  position: relative;
}
.header-logo {
  left: 110px;
  top: 130px;
  position: absolute;
}
