/* Universal style */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

.bg-header-desktop {
  display: none;
}

/* Main style */
main {
  gap: 10rem;
  width: 100vw;
  display: flex;
  padding: 0 1.2rem;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-header-mobile {
  width: 99vw;
  position: relative;
}
.header-logo {
  left: 110px;
  top: 130px;
  cursor: pointer;
  position: absolute;
}

header > h3 {
  width: 21rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

p {
  width: 19rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.007rem;
  line-height: 1.625rem;
  color: var(--Grayish-Blue);
}

header > p {
  width: 20rem;
  text-indent: 10px;
}

.buttons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.download {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 4rem;
  border-radius: 7rem;
  box-shadow: 1px 1px 8px black;
  background-color: var(--Strong-Cyan);
}

.download-mac {
  background-color: var(--Light-Blue);
}

.keep-track {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-track > h3 {
  width: 21rem;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}

.quick-sync-history {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.laptop {
  width: 19rem;
}

.quick-text {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.quick-text > div {
  gap: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.quick-text > div > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

.quick-text > div > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

.access {
  gap: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.access > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--Dark-Grayish-Blue);
}

.access > p {
  width: 20rem;
}

.create-text-preview {
  gap: 2rem;
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
}

.create-text-preview > div > h3 {
  margin-top: 3rem;
}

.create-text-preview > div > p {
  width: 20rem;
  margin-top: 0.7rem;
}

.companies {
  gap: 4rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
}

.clipboard {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clipboard > h3 {
  width: 19;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}

footer {
  gap: 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column;
  transform: translateX(-19px);
  background-color: rgba(158, 171, 178, 0.3);
}

.logo-footer {
  width: 3rem;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content > div > p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.footer-content > p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.social-media {
  gap: 2rem;
  display: flex;
  cursor: pointer;
}
