/* Universal style */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

.bg-header-desktop {
  display: none;
}

/* Main style */

body {
  background-color: rgb(204, 200, 200, 0.3);
}

main {
  gap: 10rem;
  width: 98vw;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  flex-direction: column;
}

header {
  gap: 0.4rem;
  width: 99vw;
  display: flex;
  padding: 1rem 0;
  margin-bottom: 6rem;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(./images/bg-header-mobile.png);
}

.header-logo {
  cursor: pointer;
  margin-bottom: 2rem;
}

header > h1 {
  width: 21rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

p {
  width: 19rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.007rem;
  line-height: 1.625rem;
  color: var(--Grayish-Blue);
}

header > p {
  width: 20rem;
  text-indent: 10px;
}

.buttons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.download {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 4rem;
  border-radius: 7rem;
  box-shadow: 1px 1px 8px black;
  background-color: var(--Strong-Cyan);
}

.download-mac {
  background-color: var(--Light-Blue);
}

.keep-track {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-track > h3 {
  width: 21rem;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}

.quick-sync-history {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.laptop {
  width: 19rem;
}

.quick-text {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.quick-text > div {
  gap: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.quick-text > div > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

.quick-text > div > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

.access {
  gap: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.access > h3 {
  width: 19rem;
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--Dark-Grayish-Blue);
}

.access > p {
  width: 20rem;
}

.create-text-preview {
  gap: 2rem;
  display: flex;
  margin-bottom: 5rem;
  flex-direction: column;
}

.create-text-preview > div > h3 {
  margin-top: 3rem;
}

.create-text-preview > div > p {
  width: 20rem;
  margin-top: 0.7rem;
}

.companies {
  gap: 4rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
}

.clipboard {
  gap: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  flex-direction: column;
}

.clipboard > h3 {
  width: 19;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}

footer {
  gap: 2rem;
  width: 99vw;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  flex-direction: column;
  background-color: rgba(158, 171, 178, 0.3);
}

.logo-footer {
  width: 3rem;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content > div > p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.footer-content > p {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.social-media {
  gap: 2rem;
  display: flex;
  cursor: pointer;
}

.social-logo {
}

.social-logo:hover {
  color: #26bba4;
}

.footer-content > p:hover {
  color: #26bba4;
}

.footer-content > div > p:hover {
  color: #26bba4;
}

@media screen and (min-width: 768px) {
  main {
    padding: 0;
  }
  .bg-header-mobile {
    height: 25rem;
  }
  .header-logo {
    top: 150px;
    left: 335px;
  }
  .buttons {
    gap: 1.5rem;
    margin-top: 2rem;
    flex-direction: row;
  }
  .download {
    width: 15rem;
  }
  footer {
    flex-direction: row;
    transform: none;
    padding: 2rem 3.5rem;
  }
  .footer-content {
    gap: 1rem;
    flex-direction: row;
  }
  .footer-content > p {
    width: 7rem;
    text-align: left;
    margin-left: 20px;
  }
  .footer-content > div > p {
    width: 7rem;
    text-align: left;
  }
  footer {
    flex-direction: row;
    transform: none;
    padding: 2rem 3.5rem;
  }
  .footer-content {
    gap: 1rem;
    flex-direction: row;
  }
  .footer-content > p {
    width: 7rem;
    text-align: left;
    margin-left: 20px;
  }
  .footer-content > div > p {
    width: 7rem;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 100vw;
  }
  .bg-header-mobile {
    display: none;
  }
  .bg-header-desktop {
    width: 100vw;
    display: block;
  }
  .header-logo {
    top: 100px;
    left: 600px;
  }
  header > h3 {
    width: 44rem;
  }

  p {
    width: 44rem;
  }

  header > p {
    font-size: 0.95rem;
    width: 33.5rem;
    text-indent: 0;
  }

  .download {
    width: 16rem;
    padding: 1rem 1rem;
  }

  .keep-track {
    gap: 1rem;
    align-items: center;
  }

  .keep-track > h3 {
    width: 44rem;
  }

  .quick-sync-history {
    gap: 0;
    width: 40rem;
    margin-top: 4.5rem;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }

  .laptop {
    width: 35rem;
  }
  .computer {
    top: -40px;
    left: -350px;
    position: absolute;
  }

  .quick-text {
    gap: 1.5rem;
  }

  .quick-text > div {
    gap: 0;
    width: 20rem;
    text-align: left;
  }

  .quick-text > div > p {
    text-align: left;
  }

  .quick-text > div > h3 {
    width: 19rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--Dark-Grayish-Blue);
  }

  .access {
    gap: 0.5rem;
  }

  .access > h3 {
    width: 44rem;
  }

  .access > p {
    width: 41rem;
  }

  .devices {
    margin-top: 2rem;
  }

  .create-text-preview {
    gap: 2rem;
    align-items: center;
    flex-direction: row;
  }

  .create-text-preview > div > h3 {
    width: 18rem;
    justify-content: center;
  }

  .create-text-preview > div > p {
    width: 17rem;
  }

  .companies {
    gap: 4rem;
    width: 62rem;
    flex-direction: row;
  }

  .clipboard {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .clipboard > h3 {
    width: 19;
  }
  .clipboard > p {
    width: 39rem;
  }
  footer {
    gap: 0;
    height: 9rem;
    transform: none;
    flex-direction: row;
    align-items: center;
    padding: 4rem 3.5rem 2rem 3.5rem;
    justify-content: space-around;
  }
  .footer-content {
    gap: 2rem;
    flex-direction: row;
  }
  .footer-content > p {
    width: 7rem;
    text-align: left;
    margin-left: 50px;
  }
  .footer-content > div > p {
    width: 7rem;
    text-align: left;
  }
}
